//docker.enabled = false
process {
	withName:peer_computation {
		
		container = 'peer_singularity.sif'
		
	}
	withName:peer_computation_2 {
		
		container = 'peer_singularity.sif'
		
	}
	withLabel: very_long {
        cpus = 1
        memory = 50.GB
        queue = 'all_5days'
    }
        withLabel: medium {
        cpus = 1
        memory = 40.GB
        queue = 'all_5hrs'
        clusterOptions = ' --constraint="intel"'
    }
        withLabel: mem_cons {
        cpus = 1
        memory = 85.GB
        queue = 'all_5hrs'
        clusterOptions = ' --constraint="intel"'
    }
        withLabel: long {
        cpus = 1
        memory = 15.GB
        queue = 'all_24hrs'
        clusterOptions = ' --constraint="intel"'
        
    }    
        withLabel: cpu_intensive {
        cpus = 1
        memory = 4.GB
        queue = 'all_5hrs'
        clusterOptions = ' --constraint="intel"'
    }
    
        withLabel: short {
        cpus = 1
        memory = 15.GB
        queue = 'all_5hrs'
        clusterOptions = ' --constraint="intel"'
    }
}

executor {
    name = 'slurm'
    queueSize = 100
    pollInterval = '30 sec'
}

singularity {
    enabled = true
    cacheDir = '/home/gallia/scratch/u236208/'
    autoMounts = true
    runOptions = '-B /home/gallia/scratch/u236208/'
}

env {
  TMPDIR= '/home/gallia/scratch/u236208/'
}


